{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'story9/style/style.css' %}">
<script src="{% static 'story9/js/script.js' %}"></script>
{% endblock style %}
<!--Block of title-->
{% block title %}Sign up{% endblock title %}
<!-- Start of Content -->
{% block content %}
    <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Sign up</button>
        </form>
<!--End of Content-->
{% endblock content %}