{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
<!-- {% load static %} -->
<link rel="stylesheet" href="{% static 'home/style/style.css' %}">
{% endblock style %}
<!--Block of title-->
{% block title %}Homepage{% endblock title %}
<!-- Start of Content -->
{% block content %}
<div class="container kosongan">
    <!-- <p>hoi</p> -->
</div>
{% endblock content %}
