{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'story7/style/style.css' %}">
<script src="{% static 'story7/js/script.js' %}"></script>
<script>
</script>
{% endblock style %}
<!--Block of title-->
{% block title %}story 7{% endblock title %}
<!-- Start of Content -->
{% block content %}
<!--End of Content-->

<div class="wrapper">
  <div class="accordion_wrap accordion_1">
    <div class="accordion_header">
      profil 
      <button type="button" class="btn btn-dark btn-up">up</button> <button type="button" class="btn btn-dark btn-down">down</button>
    </div>
    <div class="accordion_body">
      <p>nama : billy</p>
    </div>
  </div>
  <div class="accordion_wrap accordion_2">
    <div class="accordion_header">
        aktifitas <button type="button" class="btn btn-dark btn-up">up</button> <button type="button" class="btn btn-dark btn-down">down</button>
      </div>
    <div class="accordion_body">
       <p>kuliah ngoding</p>
    </div>
  </div>
  <div class="accordion_wrap accordion_3">
    <div class="accordion_header">
      pengalaman organisasi/kepanitiaan
      <button type="button" class="btn btn-dark btn-up">up</button> <button type="button" class="btn btn-dark btn-down">down</button>
    </div>
    <div class="accordion_body">
      <p> jualan sate </p>
    </div>
  </div>
  <div class="accordion_wrap accordion_4">
    <div class="accordion_header">
      prestasi 
    
  <button type="button" class="btn btn-dark btn-up">up</button> <button type="button" class="btn btn-dark btn-down">down</button>
</div>
  <div class="accordion_body">
      <p>akademik tidak ada</p>
    </div>
  </div>
</div>	

{% endblock content %}