{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
<!-- Apabila dibutuhkan Style internal dapat diissi disini-->
{% endblock style %}
<!--Block of title-->
{% block title %}Story 6{% endblock title %}
<!-- Start of Content -->
{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <!-- Form input-->
  {{ formAbsen.as_p }}
  <input type="submit" name="" value="submit" />
</form>
<table>
{% for abs in absen %}
  <tr>
    <td>{{ abs.nama }} : {{ abs.kegiatan }}</td>
  </tr>
  {% endfor %}
</table>

{% for lst in list %}
<ul>
<li>{{ lst.kegiatan }}</li>
</ul>
{% endfor %}

{% endblock content %}