{% extends 'base.html' %} {% load static %}
<!-- Block of Internal Style-->
{% block style %}
<style>
  #jumbo {
    padding: 0;
  }
</style>
{% endblock style %}

<!-- Block of Title-->
{% block title %}Story 3{% endblock title %}
<!-- Start of Content -->
{% block content %}

<!-- Header gede foto aku -->
<div class="jumbotron bg-transparent text-black-100 no-margin" id="jumbo">
  <div class="container container-fluid">
    <div class="row">
      <div class="col tengah bawah">
        <img src="{% static "home/img/foto2.png" %}" class="img-fluid no-margin"
        alt="" />
      </div>
      <div class="col">
        <h1>Welcome</h1>
        <br />
        <br />
        <br />
        <h1 id="kanan">Billy Vande Yohannes</h1>
      </div>
    </div>
  </div>
</div>

<!-- <img src={% static "home/img/background.png" %} class="img-fluid"
    alt="Responsive image" > -->

<!-- Content + Carousel -->
<div
  id="carouselExampleIndicators"
  class="carousel slide no-margin"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "home/img/1_edit.png" %}" class="d-block w-100"
      alt="gambar1" />
    </div>
    <div class="carousel-item">
      <img src="{% static "home/img/2.png" %}" class="d-block w-100" alt="..."
      />
    </div>
    <div class="carousel-item">
      <img src="{% static "home/img/3.png" %}" class="d-block w-100" alt="..."
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- End of Carousel -->

<!-- Kumpulan project -->
<div class="container">
  <div class="row">
    <div class="col">
      <img src="" alt="" class="img-fluid" />
    </div>
    <div class="col">
      <img src="" alt="" class="img-fluid" />
    </div>
    <div class="col">
      <img src="" alt="" class="img-fluid" />
    </div>
  </div>
</div>

{% endblock content %}
