{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
<!-- Apabila dibutuhkan Style internal dapat diissi disini-->
{% endblock style %}
<!--Block of title-->
{% block title %}Mata Kuliah{% endblock title %}
<!-- Start of Content -->
{% load crispy_forms_tags %}
{% block content %}
{% load crispy_forms_tags %}
<table>
  <tr>
    <td>Nama Mata Kuliah</td>
    <td>{{ matkul.nama_matkul }}</td>
  </tr>
  <tr>
    <td>Nama Dosen</td>
    <td>{{ matkul.nama_dosen }}</td>
  </tr>
  <tr>
    <td>Semester</td>
    <td>{{ matkul.semester_berapa }}</td>
  </tr>
  <tr>
    <td>Kelas</td>
    <td>{{ matkul.kelas }}</td>
  </tr>
  <tr>
    <td>Deskripsi</td>
    <td>{{ matkul.deskripsi }}</td>
  </tr>
</table>
 {% endblock content %}
