{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
<style>
  table,
  th,
  td {
    border: 1px black solid;
  }
  .kecilkan {
    height: 100em;
  }
</style>
{% endblock style %}
<!--Block of title-->
{% block title %}Story 5{% endblock title %}
<!-- Start of Content -->
{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <!-- Form input-->
  {{ form.as_p }}
  <button class="btn" type="submit">Masukkan Data</button>
</form>

<h3>Mata Kuliah</h3>
<ul>
  {% for jadual in jadwal %}
    <li> <a href="{% url 'story5:detail' jadual.id %}">{{ jadual }}</a></li>
  {% endfor %}
</ul>

<!--End of Content-->
{% endblock content %}
