{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
<!-- Apabila dibutuhkan Style internal dapat diissi disini-->
{% endblock style %}
<!--Block of title-->
{% block title %}Log In{% endblock title %}
<!-- Start of Content -->
{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
<!--End of Content-->
{% endblock content %}