{% extends 'base.html' %} {% block style %}
<style>
  table,
  th,
  td {
    border: 1px black solid;
  }
  .cropped1 {
    width: 400px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
}
</style>
{% endblock %} {% block title %} Story 1 {% endblock title %}
<!-- batas-->
{%block content %}

<!-- Start of Content -->
<div class="container">
  <!-- Table -->
  <table>
    <tr>
      <td>Nama</td>
      <td>Billy Vande Yohannes</td>
    </tr>
    <tr>
      <td>NPM</td>
      <td>1906398276</td>
    </tr>
    <tr>
      <td>Angkatan</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>Hobi</td>
      <td>Rebahan</td>
    </tr>
    <tr>
      <td>Deskripsi tentang saya</td>
      <td>
        Saya adalah seorang mahasiswa yang senang eksplorasi tapi buta desain
      </td>
    </tr>
    <tr>
      <td>Tempat Kuliah</td>
      <td>Universitas Indonesia</td>
    </tr>
    <tr>
      <td>Foto</td>
      {% load static %}
      <td><img class="cropped1" src={% static "home/img/itbxui.jpg" %}></td>
    </tr>
    <tr>
      <td>Riwayat pendidikan</td>
      <td>
        <ul>
          <li>Universitas Indonesia, Ilmu Komputer (2019-Sekarang)</li>
          <li>SMAN 71 Jakarta, IPA (2016-2019)</li>
          <li>SMP ST. Bellarminus (2013-2016)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Media sosial</td>
      <td>
        <ul>
          <li>
            <a href="https://www.instagram.com/billy_vande/?hl=id">Instagram</a>
          </li>
          <li>
            <a href="https://id.linkedin.com/in/billy-vande-354373196"
              >linkedin</a
            >
          </li>
          <li><a href="mailto:billy.vande@ui.ac.id">E-mail</a></li>
        </ul>
      </td>
    </tr>
  </table>

  <!-- Nama, NPM, Angkatan, Hobi, Deskripsi tentang saya, Tempat Kuliah, Foto,
      riwayat pendidikan, dan media sosial -->
</div>
{% endblock content %}
