.bawah {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.warna {
    background-color: black;
    text-decoration: whitesmoke;
}

.foto {
    border: 10px solid black;
}

#jumbo {
    padding: 0;
    border-bottom: 1px solid black;
}

.no-margin {
    margin-bottom: 0px;
    margin-top: 0px;
}