{% extends 'base.html' %}
<!-- Block of Style-->
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'story8/style/style.css' %}">
<script src="{% static 'story8/js/script.js' %}"></script>
{% endblock style %}
<!--Block of title-->
{% block title %}story 8{% endblock title %}
<!-- Start of Content -->
{% block content %}
<!--End of Content-->

<input type="text" id="cari">
<button class="btn btn-unique btn-rounded btn-sm my-0" type="submit" id="tombol">Search</button>

<br>

<table id="hasil">
  <tr>
    <td>nama buku</td>
    <td>author</td>
    <td>publish date</td>
    <td>gambar</td>
  </tr>
</table>

{% endblock content %}